* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: rgb(160, 194, 170); */
    background: url("/img/AdobeStock_1553205958_Preview.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

h1 {
    font-family: "Eater", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
}

h2,
h3,
h4,
h5,
h6,
p,
li {
    font-family: "Signika", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "GRAD" 0;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

p,
li {
    font-size: 18px;
}

.container {
    width: 79%;
    background-color: rgba(255, 235, 205, 0.918);
    /* background: #e3c5c5e0;
    background: linear-gradient(90deg, rgba(255, 236, 194, 0.89) 0%, rgba(217, 252, 233, 0.849) 50%, rgba(242, 240, 203, 0.87) 100%); */
    margin: 0 auto;
    padding: 0;
}

/* menu/nav */
/* nav{
    display: flex;
} */
.navDesk {
    top: 0;
    left: 0;
    background-color: rgb(186, 223, 179);
    /* color: azure; */
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    /* display: flex;
    justify-content: center; */
}

.navDesk ul {
    list-style-type: none;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    width: 50%;
    margin: 1.2rem auto;
    /* align-self: center; */
}

.navDesk li{
    border-left: .2em black solid;
    /* margin: 0 auto;
    display: flex;
    justify-content: center; */
    padding: 0 7.5rem;
}

.navDesk li:first-child {
    border-left: 0;
}

.navMobile {
    display: none;
}

a:hover,
.back p:hover {
    background-color: rgba(237, 246, 253, 0.733);
    /* font-size: 19px; */
}

a {
    text-decoration: none;
    color: inherit;
}

/* hamburger menu */
.material-symbols-outlined.active {
    display: block;
}

/* about */
main {
    align-items: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    border: .5em green solid;
    height: 100vh;
    text-align: center;
}

/* article */
article {
    border: .5em green solid;
    height: 100vh;
    /* background-color: beige; */
    /* margin: 0 auto; */
    display: flex;
    align-items: center;
    flex-flow: column;
    padding: 0 3.5em;
}

article h1 {
    padding-top: 1.3em;
}

article p {
    /* padding: 0; */
    margin: .6em 0;
}

article span {
    /* border-bottom: .1em black solid; */
    text-decoration: underline;
    text-decoration-thickness: .1em;
}

.map {
    height: 400px;
}

/* section */
section {
    border: .5em green solid;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-flow: column;
}

section h1 {
    padding-top: 1.3em;
}

section p {
    padding: 0;
    margin: 0;
}

section ul {
    margin: .1rem 0;
}

.s {
    display: flex;
    flex-flow: row;
    margin: 0;
    padding: .1em 0 0;
}

.front {
    /* background-color: azure; */
    margin: 1em;
    width: 200px;
    height: 275px;
    border-radius: 10%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: .7em;

}

.front img {
    max-width: 170px;
    height: 50px;
    margin-bottom: 2em;
    box-shadow: 5px 5px 5px #b7cfc3;
    ;
}

.back {
    text-align: center;
}

/* flip cards */
/* https://codepen.io/aron-tw/pen/pLJqgE */
.card {
    position: relative;

    >.front,
    >.back {
        display: block;
        transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
        transition-duration: .5s;
        transition-property: transform, opacity;
    }

    >.front {
        transform: rotateY(0deg);
    }

    >.back {
        position: absolute;
        opacity: 0;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        transform: rotateY(-180deg);
    }

    &:hover {
        >.front {
            transform: rotateY(180deg);
        }

        >.back {
            opacity: 1;
            transform: rotateY(0deg);
        }
    }

    /* &.card-vertical {
        >.back {
            transform: rotateX(-180deg);
        }

        &:hover {
            >.front {
                transform: rotateX(180deg);
            }

            >.back {
                transform: rotateX(0deg);
            }
        }
    } */
}

/* // custom */
.card {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 1em;
    width: 400px;

    >.front,
    >.back {
        display: block;
        color: rgb(240, 127, 127);
        width: inherit;
        background-size: cover !important;
        background-position: center !important;
        height: 220px;
        padding: 1em 2em;
        background: #d0f0e0;
        border-radius: 10px;

        p {
            font-size: 16px;
            line-height: 160%;
            color: #3f0000;
        }

        p:hover {
            font-size: 17px;
        }
    }

    .back {
        background-color: #b7cfc3;
    }
}


/* media query */
@media (max-width: 1200px) {
    .s {
        display: flex;
        flex-flow: column;
    }

    article,
    main,
    section {
        text-align: center;
        padding: 0 .4em;
        margin: 0;
        height: fit-content;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 30px;
    }

    h2 {
        font-size: 20px;
    }

    /* hmaburger menu */
    /* nav {
        padding: 1rem
    } */
    .material-symbols-outlined {
        color: rgb(255, 255, 0);
    }

    .navDesk {
        display: none;
    }

    .navMobile {
        display: block;
        background-color: rgb(43, 255, 0);
        position: fixed;
        z-index: 1;
    }

    .navMobMenu ul {
        list-style-type: none;
    }

    .navMobMenu p {
        display: flex;
        justify-content: flex-end;
        padding: 1rem;
    }

    .navMobMenu {
        background-color: rgb(183, 197, 255);
        height: 100vh;
        width: 100%;
        /* max-width: 450px; */
        position: fixed;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        transition: .3s ease;
    }

    .navjobMenu li,
    .navMobMenu p,
    .material-symbols-outlined {
        cursor: pointer;
    }

    /* .navMobMenu.active {
        right: 5;
    } */
}